extends ./layout/index

block contenido
  main(class="container mt-5")  
    h1(class="text-center mt-5") #{pagina}

    blockquote(class="text-center") Lee Sobre nuestros clientes y sus experiencias

    include ./layout/bloque_testimoniales

    div(class="row")  
      div(class="col-md-12")
        h2(class="d-block w-100 text-center") Agrega un Testimonial
        
        if(errores) 
          each error in errores 
            div(class="alert alert-danger alert-dismissible fade show text-center" role="alert")
              | #{error.mensaje}
              button(class="close" type="button" data-dismiss="alert" aria-label="Close")
                span(aria-hidden='true') &times;

      div(class="row justify-content-center col")
        div(class="col-md-8")
          form(action="/testimoniales" method="POST")
            div(class="form-group")
              label(for="nombre") Nombre  
              input(class="form-control" type="text" id="nombre" placeholder="Tu nombre" name="nombre" value=nombre)
            div(class="form-group")
              label(for="correo") Correo Electronico  
              input(class="form-control" type="email" id="correo" placeholder="Tu correo" name="correo" value=correo)
            div(class="form-group")
              label(for="mensaje") Mensaje  
              textarea(id="mensaje" class="form-control" name="mensaje" placeholder="Tu Mensaje" style="height: 150px") #{mensaje}
            input(class="btn btn-success btn-block" type="submit" value="Enviar")